<div class="flex w-full p-2 bg-white rounded-lg shadow-lg">
  <div class="flex w-full">
    <img [src]="produto?.image" alt="" class="card-produto-image">
    <div class="card-description">
        <div class="flex flex-col">
          <div class="flex items-start justify-between md:items-center">
            <h5 class="card-produto-titulo">
              {{ produto?.title }}
            </h5>
            <h4 class="card-produto-preco">
             {{ produto?.value | currency:'BRL':'symbol':'1.2-2' }}
            </h4>
          </div>
          <p class="card-produto-description">
            {{ produto?.description }}
          </p>
        </div>

        <div class="flex justify-end gap-2 xl:gap-3">
          <div class="flex items-center">
            <button class="button-decrementa" (click)="removeProduct()" [disabled]="quantidade <= 0">
              -
            </button>
            <div class="value-product">
              {{ quantidade }}
            </div>
            <button class="button-incrementa" (click)="addProduct()">
              +
            </button>
          </div>
        <button class="button-cart" [disabled]="quantidade <= 0">
          <span class="button-cart-span material-symbols-outlined" (click)="addCart()">
            shopping_cart
            </span>
        </button>
    </div>
  </div>
</div>
