<div class="fixed inset-0 bg-black bg-opacity-50 backdrop-blur-sm flex justify-center items-center z-50" @fadeInOut>
  <div class="bg-zinc-100 dark:bg-zinc-900 relative p-4 rounded-lg shadow-lg w-[600px]">

    <button class="absolute top-0 right-0 cursor-pointer w-12 h-12 z-20" (click)="closeEditProfile()" title="btn-close">
      <i class="fa-solid fa-xmark text-zinc-800 dark:text-zinc-200 text-2xl"></i>
    </button>

    <h1 class="w-full py-2 flex items-center justify-center text-zinc-800 dark:text-zinc-200 font-bold text-lg">
      Editar Perfil
    </h1>

    <div class="mt-8 px-3 py-3">
      <div class="flex flex-col w-full flex-grow">
        <h2 class="text-zinc-800 dark:text-zinc-200 font-bold text-base tracking-wider">
          Dados do Usuário
        </h2>
        <div class="flex flex-col gap-4 mt-2">
          <input type="text" placeholder="Name" class="inputs" [(ngModel)]="userName" required>
          <input type="text" placeholder="Email" class="inputs" [(ngModel)]="userEmail" required>
        </div>

        <div class="w-full mt-8 flex items-center justify-end gap-4">
          <button class="px-4 py-3 bg-zinc-300 dark:bg-zinc-800 hover:bg-zinc-400 dark:hover:bg-zinc-700 text-zinc-800 dark:text-zinc-200 rounded-lg font-bold ease-in-out active:scale-95 transition-transform duration-200" (click)="closeEditProfile()">
            Cancelar
          </button>
          <button class="px-4 py-3 dark:bg-rosaCustomDark-600 dark:hover:bg-rosaCustomDark-700 bg-rosaCustom-400 hover:bg-rosaCustom-500 text-zinc-100 rounded-lg font-bold ease-in-out active:scale-95 transition-transform duration-200"
          (click)="saveChanges()">
            {{ isSaving ? 'Salvando...' : 'Salvar' }}
          </button>
        </div>
      </div>
    </div>


  </div>
</div>
