<div class="w-full">
  <div class="xl:container mx-auto py-[70px] w-full md:px-3">
    <h1 class="pt-[1px] pb-[5px] text-4xl relative ml-2 text-black before:border-b-4 before:border-solid before:border-rosinha-escuro before:absolute before:w-[200px] before:top-[45px] rounded">
      Brigadeiros
    </h1>
    <div class="cards">
      <app-card
      *ngFor="let brigadeiro of brigadeiros; let i = index"
      [produto]="brigadeiro"
      [quantidade]="valueProductBrigaidero[i]"
      [index]="i"
      [tipo]="'brigadeiro'"
      (add)="incrementaBrigaidero($event)"
      (remove)="decrementaBrigadeiro($event)"
      (cart)="addCart($event)"
      >
      </app-card>
    </div>
  </div>
</div>
