<div class="w-full">
  <div class="xl:container mx-auto py-[70px] w-full md:px-3">
    <h1 class="pt-[1px] pb-[5px] text-4xl relative ml-2 text-black before:border-b-4 before:border-solid before:border-rosinha-escuro before:absolute before:w-[110px] before:top-[45px]">
      Trufas
    </h1>
    <div class="cards">
      <app-card
      *ngFor="let trufa of trufas; let i = index"
      [produto]="trufa"
      [quantidade]="amountTrufa[i]"
      [index]="i"
      [tipo]="'trufa'"
      (add)="incrementaTrufa($event)"
      (remove)="decrementaTrufa($event)"
      (cart)="addCart($event)"
      >
      </app-card>
    </div>
  </div>
</div>

