<div class="grid gap-5 px-2 2xl:grid-cols-3 md:grid-cols-2">
  <div class="card" *ngFor="let item of produtos">
    <div class="flex flex-col w-full h-full">
      <div class="flex justify-center items-center w-full max-h-64 p-2">
        <img [src]="item.produto.image" alt="" class="card-produto-image w-32 h-32 scale-150">
      </div>
      <div class="card-description">
        <div class="flex flex-col">

          <div class="flex justify-between md:items-center">
            <h5 class="card-produto-titulo">
              {{ item.produto.title }}
            </h5>
            <h4 class="card-produto-preco">
              {{ item.produto.value | currency: 'BRL':'symbol':'1.2-2' }}
            </h4>
          </div>
          <!-- <p class="card-produto-description">
            {{ item.produto.description }}
          </p> -->
        </div>
        <div class="flex items-center justify-between w-full gap-2 xl:gap-3">
          <div class="flex items-center w-1/2 border-2 border-solid rounded shadow-md border-zinc-300 dark:border-zinc-700">
            <button class="w-full button-decrementa" (click)="decrementaQuantidade(item.produto)">
              -
            </button>
            <div class="w-full value-product">
              {{ item.quantidade }}
            </div>
            <button class="w-full button-incrementa" (click)="incrementaQuantidade(item.produto)">
              +
            </button>
          </div>
          <button class="w-full button-cart" (click)="removerProduto(item.produto)" title="remove-item">
            <span class="button-cart-span">
              <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="#fff">
                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
              </svg>
              <span class="text-sm md:text-base text-zinc-200">
                Excluir
              </span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
