<div class="w-full">
  <div class="xl:container mx-auto py-[70px] w-full md:px-3">
    <h1 class="pt-[1px] pb-[5px] text-4xl relative ml-2 text-black before:border-b-4 before:border-solid before:border-rosinha-escuro before:absolute before:w-[150px] before:top-[45px] rounded">
      bebidas
    </h1>
    <div class="cards">
      <app-card
      class="card transition duration-150"
      *ngFor="let bebida of bebidas; let i = index"
      [produto]="bebida"
      [quantidade]="amountBebida[i]"
      [index]="i"
      [tipo]="'bebida'"
      (add)="incrementaBebida($event)"
      (remove)="decrementaBebida($event)"
      (cart)="addCart($event)"
      >
      </app-card>
    </div>
  </div>
</div>

