<div class="flex flex-col">
  <div class=" bg-gray-100 dark:bg-zinc-900 w-full shadow-lg h-[500px]">
    <div class="container flex flex-col items-center justify-center mx-auto">
      <h1 class="flex flex-col items-center justify-center px-8 py-16 md:p-16">
        <span class="text-4xl md:text-6xl text-gray-950 dark:text-gray-50">
          Bem vindos ao
        </span>
        <span class="md:text-8xl text-6xl text-gray-950 dark:text-gray-50 relative before:content-[''] before:absolute before: border-b-[5px] border-solid border-rosaCustom-400 dark:border-rosaCustomDark-600">
          Tutti-Doces
        </span>
      </h1>
      <div class="flex justify-center items-center mx-auto md:max-w-[500px] max-w-[350px] pb-[70px] text-justify text-rosaCustomDark-300 dark:text-rosaCustomDark-700 text-lg px-1">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt placeat eos dolorum, voluptates rerum natus dignissimos veritatis facere? Odio praesentium molestiae minus, veritatis eius eligendi dignissimos impedit alias sapiente.</p>
      </div>
    </div>
  </div>

  <app-inicio-products></app-inicio-products>
</div>




