/* .titulo {
  padding: 10px 0 5px 0;
    font-size: 2.2rem;
    position: relative;
    margin-left: 10px;
    color: #000;
} */



/* .titulo::before {
  content: "";
  position: absolute;
  border-bottom: 5px solid rgba(240,128,128,1) ;
  border-radius: 5px;
  width: 200px;
  top: 60px;
} */

.card {
 @apply flex w-full p-2 bg-white rounded-lg;
}

.card-img {
  @apply max-w-[170px] max-h-[170px] hover:scale-110 duration-200
}


.card-container {
  @apply flex flex-col justify-between w-full pl-3
}
.card-titulo {
  @apply  flex items-center h-full p-2 text-xl font-medium;
}
