<div class="w-ful">
  <div class="container mx-auto py-[70px] w-full">
    <h1 class="pt-[1px] pb-[5px] text-4xl relative ml-2 text-black before:border-b-4 before:border-solid before:border-rosinha-escuro before:absolute before:w-[200px] before:top-[45px] rounded">
      Brigadeiros
    </h1>
    <div class="grid grid-cols-2 gap-6 p-4 ">
      <div class="flex w-full p-2 bg-white rounded-lg">
        <div class="flex w-full">
          <img [src]="brigadeiro" alt="" class="h-full w-[150px]">
          <div class="w-1 h-full rounded-lg bg-rosinha"></div>
          <div class="flex flex-col w-full h-full gap-[18px] pl-3 rounded">
            <div class="flex flex-col gap-2">
              <h4 class="pt-2 text-xl font-medium">
                brigadeiro Clássico
              </h4>
              <p class="text-neutral-500">
                Brigadeiro de chocolate meio-amargo <br> com cacau 54%, o tradicional brigadeiro gourmet
              </p>
            </div>

            <div class="flex justify-end gap-5">
              <button class="px-5 py-2 border-2 border-solid rounded border-rosinha-escuro text-rosinha-escuro shadow-m">
                Adicionar ao carrinho
              </button>
              <button class="px-5 py-2 text-white transition-all duration-150 rounded shadow-md bg-custom-gradient hover:scale-105">
                Comprar
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
