<div class="w-full">
  <div class="container mx-auto py-[70px] w-full">
    <h1 class="pt-[1px] pb-[5px] text-4xl relative ml-2 text-black before:border-b-4 before:border-solid before:border-rosinha-escuro before:absolute before:w-[200px] before:top-[45px] rounded">
      Brigadeiros
    </h1>
    <div class="grid grid-cols-1 gap-10 px-2 py-4 lg:grid-cols-2 ">

      <div class="flex w-full p-2 bg-white rounded-lg shadow-lg" *ngFor="let brigadeiro of brigadeiros">
        <div class="flex w-full">
          <img [src]="brigadeiro.image" alt="" class="max-w-[170px] max-h-[170px] hover:scale-110 duration-200">
          <div class="w-1 h-full rounded-lg bg-rosinha"></div>
          <div class="flex flex-col justify-between w-full pl-3">
              <div class="flex flex-col">
                <h4 class="flex items-center h-full p-2 text-xl font-medium">
                  {{ brigadeiro.title }}
                </h4>
                <p class="pl-2 text-neutral-500 max-w-[410px]">
                  {{ brigadeiro.description }}
                </p>
              </div>

            <div class="flex items-center justify-between">
              <h5 class="pl-2 text-xl font-semibold">
                R$ 3,00
              </h5>
              <div class="flex justify-end gap-3">
                <button class="h-12 px-5 transition-all duration-200 border-2 border-solid rounded shadow-md text-rosinha-escuro bg-slate-50 border-rosinha-escuro hover:scale-105 active:scale-95">
                  Adicionar ao carrinho
                </button>
                <button class="h-12 px-5 text-white transition-all duration-200 rounded shadow-md bg-custom-gradient hover:scale-105 active:scale-95">
                  Comprar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
