<div class="w-full px-2">
  <div class="flex flex-col justify-between w-full p-3 bg-white rounded-lg shadow-lg h-96">
    <div>
      <h1 class="pt-2 pb-1 pl-2 text-2xl border-b-2 border-solid md:text-3xl border-rosinha-escuro">
        Resumo
      </h1>
    </div>
    <div class="flex flex-col w-full gap-5">
      <div class="flex">
        <p class="flex items-center justify-between w-full border-b-2 border-solid border-rosinha-escuro">
          <span class="text-xl lg:text-3xl md:text-2xl">Total:</span>
          <span class="text-xlg lg:text-2xl md:text-xl">R$ {{ total | number: '1.2-2' }}</span>
        </p>
      </div>
      <button class="w-full text-white transition-all duration-200 rounded shadow-md 2xl:text-xl h-14 bg-custom-gradient hover:scale-105 active:scale-95">
        Comprar
      </button>
    </div>
  </div>
</div>
