<div class="w-full h-dvh">
  <header class="bg-custom-gradient fixed top-0 left-0 right-0 shadow-lg z-10 h-[83px] flex items-center">
    <div class="container flex items-center justify-between p-2 mx-auto">
      <h1 class="text-4xl font-bold cursor-pointer relative  before:content-[''] before:absolute before:border-b-[3px] before:border-solid before:border-white before:w-0 before:top-[37px] before:transition-all before:duration-500 hover:before:w-[215px]">
        Tutti-Doces
      </h1>
      <nav class="flex items-center">
        <ul class="relative flex items-center justify-center gap-4 list-none ">
          <a routerLink="/inicio" class="text-base font-bold text-black">
            <li>Ínicio</li>
          </a>
          <a routerLink="/brigadeiros" class="text-base font-bold text-black">
            <li>Brigadeiros</li>
          </a>
          <a href="/trufas" class="text-base font-bold text-black">
            <li>Trufas</li>
          </a>
          <a href="#" class="text-base font-bold text-black">
            <li>Bebidas</li>
          </a>
          <a href="#" class="text-base font-bold text-black">
            <li>Outros</li>
          </a>
        </ul>
      </nav>
    </div>
  </header>
 <div class="flex flex-col mt-[83px]">
  <div class=" bg-white w-full shadow-lg h-[500px]">
    <div class="container flex flex-col items-center justify-center mx-auto">
      <h1 class="flex flex-col items-center justify-center p-16 ">
        <span class="text-6xl">
          Bem vindos ao
        </span>
        <span class="text-8xl relative before:content-[''] before:absolute before: border-b-[5px] border-solid border-rosinha-escuro">
          Tutti-Doces
        </span>
      </h1>
      <div class="flex justify-center items-center mx-auto max-w-[500px] pb-[70px] text-justify text-[#8B4513] text-lg">
        <p>Aqui no nosso site online vamos apresentar um mini negócio como meio de arrecadação para fins direcionados a Formatura do Terceirão da escola Adolfo Boving. Estaremos divulgando nossos doces como objetivo de alcançar um público..</p>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
 </div>
</div>
