<div class="w-full h-dvh">
  <header class="bg-custom-gradient fixed top-0 left-0 right-0 shadow-lg z-10 h-[83px] flex items-center">
    <div class="flex justify-between items-center p-2 container mx-auto">
      <h1 class="text-4xl font-bold cursor-pointer relative  before:content-[''] before:absolute before:border-b-[3px] before:border-solid before:border-white before:w-0 before:top-[37px] before:transition-all before:duration-500 hover:before:w-[215px]">
        Tutti-Doces
      </h1>
      <nav class="flex items-center">
        <ul class="list-none flex items-center justify-center relative gap-4 ">
          <a href="#" class="text-black font-bold text-base">
            <li>Ínicio</li>
          </a>
          <a href="#" class="text-black font-bold text-base">
              <li>Brigadeiros</li>
          </a>
          <a href="#" class="text-black font-bold text-base">
              <li>Trufas</li>
          </a>
          <a href="#" class="text-black font-bold text-base">
              <li>Outros</li>
          </a>
          <a href="#" class="text-black font-bold text-base">
              <li>Bebidas</li>
          </a>
        </ul>
      </nav>
    </div>
  </header>
 <div class="flex flex-col mt-[83px]">
  <app-inicio></app-inicio>
  <app-brigadeiros></app-brigadeiros>
 </div>
</div>
