<div class="w-full bg-custom-gradient">
  <div class="container mx-auto py-[70px] w-full">
    <h1 class="pt-[1px] pb-[5px] text-4xl relative ml-2 text-black before:border-b-4 before:border-solid before:bg-white before:absolute before:w-[110px] before:top-[45px]">
      Trufas
    </h1>
    <div class="grid grid-cols-1 gap-10 px-2 py-4 lg:grid-cols-2 ">

      <div class="flex w-full p-2 bg-white rounded-lg">
        <div class="flex w-full">
          <img [src]="trufaBrigadeiro" alt="" class="max-w-[170px] max-h-[170px] hover:scale-110 duration-200">
          <div class="w-1 h-full rounded-lg bg-rosinha"></div>
          <div class="flex flex-col justify-between w-full pl-3">
              <div class="flex flex-col">
                <h4 class="flex items-center h-full p-2 text-xl font-medium">
                  Trufa de brigadeiro 30g
                </h4>
                <p class="pl-2 text-neutral-500">
                  Trufa de chocolate ao leite recheada com creme <br> de brigadeiro
                </p>
              </div>

            <div class="flex items-center justify-between">
              <h5 class="pl-2 text-xl font-semibold">
                R$ 4,50
              </h5>
              <div class="flex justify-end gap-3">
                <button class="h-12 px-5 transition-all duration-200 border-2 border-solid rounded shadow-md text-rosinha-escuro bg-slate-50 border-rosinha-escuro hover:scale-105 active:scale-95">
                  Adicionar ao carrinho
                </button>
                <button class="h-12 px-5 text-white transition-all duration-200 rounded shadow-md bg-custom-gradient hover:scale-105 active:scale-95">
                  Comprar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex w-full p-2 bg-white rounded-lg">
        <div class="flex w-full">
          <img [src]="trufaSuica" alt="" class="max-w-[170px] hover:scale-110 duration-200">
          <div class="w-1 h-full rounded-lg bg-rosinha"></div>
          <div class="flex flex-col justify-between w-full pl-3">
            <div class="flex flex-col">
              <h4 class="items-center h-full p-2 text-xl font-medium fflex">
                Trufa suiça 30g
              </h4>
              <p class="pl-2 text-neutral-500">
                Trufa de chocolate ao leite com recheio cremoso <br> sabor trufas
              </p>
            </div>

            <div class="flex items-center justify-between">
              <h5 class="pl-2 text-xl font-semibold">
                R$ 4,50
              </h5>
              <div class="flex justify-end gap-3">
                <button class="h-12 px-5 py-2 transition-all duration-200 border-2 border-solid rounded shadow-md border-rosinha-escuro text-rosinha-escuro hover:scale-105 active:scale-95">
                  Adicionar ao carrinho
                </button>
                <button class="h-12 px-5 py-2 text-white transition-all duration-200 rounded shadow-md bg-custom-gradient hover:scale-105 active:scale-95">
                  Comprar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex w-full p-2 bg-white rounded-lg">
        <div class="flex w-full">
          <img [src]="trufaTradicional" alt="" class="max-w-[170px] hover:scale-110 duration-200">
          <div class="w-1 h-full rounded-lg bg-rosinha"></div>
          <div class="flex flex-col justify-between w-full pl-3">
            <div class="flex flex-col">
              <h4 class="flex items-center h-full p-2 text-xl font-medium">
                Trufa tradicional 30g
              </h4>
              <p class="pl-2 text-neutral-500">
                Trufa de chocolate ao leite com recheio cremoso <br> de chocolate
              </p>
            </div>
            <div class="flex items-center justify-between">
              <h5 class="pl-2 text-xl font-semibold">
                R$ 3,00
              </h5>
              <div class="flex justify-end gap-3">
                <button class="h-12 px-5 py-2 transition-all duration-200 border-2 border-solid rounded shadow-md border-rosinha-escuro text-rosinha-escuro hover:scale-105 active:scale-95">
                  Adicionar ao carrinho
                </button>
                <button class="h-12 px-5 py-2 text-white transition-all duration-200 rounded shadow-md bg-custom-gradient hover:scale-105 active:scale-95">
                  Comprar
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="flex w-full p-2 bg-white rounded-lg">
        <div class="flex w-full">
          <img [src]="trufaCereja" alt="" class="max-w-[170px] hover:scale-110 duration-200">
          <div class="w-1 h-full rounded-lg bg-rosinha"></div>
          <div class="flex flex-col justify-between w-full pl-3">
            <div class="flex flex-col">
              <h4 class="flex items-center h-full p-2 text-xl font-medium">
                Trufa de cereja 30g
              </h4>
              <p class="pl-2 text-neutral-500">
                Trufa de chocolate ao leite com recheio sabor <br> cereja
              </p>
            </div>

            <div class="flex items-center justify-between">
              <h5 class="pl-2 text-xl font-semibold">
                R$ 4,50
              </h5>
              <div class="flex justify-end gap-5">
                <button class="h-12 px-5 py-2 transition-all duration-200 border-2 border-solid rounded shadow-md border-rosinha-escuro text-rosinha-escuro hover:scale-105 active:scale-95">
                  Adicionar ao carrinho
                </button>
                <button class="h-12 px-5 py-2 text-white transition-all duration-200 rounded shadow-md bg-custom-gradient hover:scale-105 active:scale-95">
                  Comprar
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="flex w-full p-2 bg-white rounded-lg">
        <div class="flex w-full">
          <img [src]="trufaPacoca" alt="" class="max-w-[170px] hover:scale-110 duration-200">
          <div class="w-1 h-full rounded-lg bg-rosinha"></div>
          <div class="flex flex-col justify-between w-full pl-3">
            <div class="flex flex-col ">
              <h4 class="flex items-center h-full p-2 text-xl font-medium">
                Trufa de paçoca 30g
              </h4>
              <p class="pl-2 text-neutral-500">
                Trufa de chocolate ao leite com recheio de <br> pedaços de paçoca
              </p>
            </div>

            <div class="flex items-center justify-between">
              <h5 class="pl-2 text-xl font-semibold">
                R$ 4,50
              </h5>
              <div class="flex justify-end gap-3">
                <button class="h-12 px-5 py-2 transition-all duration-200 border-2 border-solid rounded shadow-md border-rosinha-escuro text-rosinha-escuro hover:scale-105 active:scale-95">
                  Adicionar ao carrinho
                </button>
                <button class="h-12 px-5 py-2 text-white transition-all duration-200 rounded shadow-md bg-custom-gradient hover:scale-105 active:scale-95">
                  Comprar
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="flex w-full p-2 bg-white rounded-lg ">
        <div class="flex w-full">
          <img [src]="trufaCacau" alt="" class="max-w-[170px] hover:scale-110 duration-200">
          <div class="w-1 h-full rounded-lg bg-rosinha"></div>
          <div class="flex flex-col justify-between w-full pl-3">
            <div class="flex flex-col">
              <h4 class="flex items-center h-full p-2 text-xl font-medium">
                Trufa de cacau 70% 30g
              </h4>
              <p class="pl-2 text-neutral-500">
                Trufa de chocolate ao leite com recheio de <br> cacau 70%
              </p>
            </div>

            <div class="flex items-center justify-between">
              <h5 class="pl-2 text-xl font-semibold">
                R$ 4,50
              </h5>
              <div class="flex justify-end gap-3">
                <button class="h-12 px-5 py-2 transition-all duration-200 border-2 border-solid rounded shadow-md border-rosinha-escuro text-rosinha-escuro hover:scale-105 active:scale-95">
                  Adicionar ao carrinho
                </button>
                <button class="h-12 px-5 py-2 text-white transition-all duration-200 rounded shadow-md bg-custom-gradient hover:scale-105 active:scale-95">
                  Comprar
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="flex w-full p-2 bg-white rounded-lg ">
        <div class="flex w-full">
          <img [src]="trufaNozes" alt="" class="max-w-[170px] hover:scale-110 duration-200">
          <div class="w-1 h-full rounded-lg bg-rosinha"></div>
          <div class="flex flex-col justify-between w-full pl-3">
            <div class="flex flex-col">
              <h4 class="flex items-center h-full p-2 text-xl font-medium">
                Trufa de nozes 30g
              </h4>
              <p class="pl-2 text-neutral-500">
                Trufa de chocolate ao leite com recheio de nozes
              </p>
            </div>

            <div class="flex items-center justify-between">
              <h5 class="pl-2 text-xl font-semibold">
                R$ 4,50
              </h5>
              <div class="flex justify-end gap-3">
                <button class="h-12 px-5 py-2 transition-all duration-200 border-2 border-solid rounded shadow-md border-rosinha-escuro text-rosinha-escuro hover:scale-105 active:scale-95">
                  Adicionar ao carrinho
                </button>
                <button class="h-12 px-5 py-2 text-white transition-all duration-200 rounded shadow-md bg-custom-gradient hover:scale-105 active:scale-95">
                  Comprar
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="flex w-full p-2 bg-white rounded-lg ">
        <div class="flex w-full">
          <img [src]="trufaMorango" alt="" class="max-w-[170px] hover:scale-110 duration-200">
          <div class="w-1 h-full rounded-lg bg-rosinha"></div>
          <div class="flex flex-col justify-between w-full pl-3">
            <div class="flex flex-col ">
              <h4 class="flex items-center h-full p-2 text-xl font-medium">
                Trufa de morango 30g
              </h4>
              <p class="pl-2 text-neutral-500">
                Trufa de chocolate ao leite com recheio sabor <br> morango
              </p>
            </div>

            <div class="flex items-center justify-between">
              <h5 class="pl-2 text-xl font-semibold">
                R$ 4,50
              </h5>
              <div class="flex justify-end gap-3">
                <button class="h-12 px-5 py-2 transition-all duration-200 border-2 border-solid rounded shadow-md border-rosinha-escuro text-rosinha-escuro hover:scale-105 active:scale-95">
                  Adicionar ao carrinho
                </button>
                <button class="h-12 px-5 py-2 text-white transition-all duration-200 rounded shadow-md bg-custom-gradient hover:scale-105 active:scale-95">
                  Comprar
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="flex w-full p-2 bg-white rounded-lg ">
        <div class="flex w-full">
          <img [src]="trufaAvela" alt="" class="max-w-[170px] hover:scale-110 duration-200">
          <div class="w-1 h-full rounded-lg bg-rosinha"></div>
          <div class="flex flex-col justify-between w-full pl-3">
            <div class="flex flex-col">
              <h4 class="flex items-center h-full p-2 text-xl font-medium">
                Trufa de avelã 30g
              </h4>
              <p class="pl-2 text-neutral-500">
                Trufa de chocolate ao leite com recheio sabor <br> avelã
              </p>
            </div>

            <div class="flex items-center justify-between">
              <h5 class="pl-2 text-xl font-semibold">
                R$ 4,50
              </h5>
              <div class="flex justify-end gap-3">
                <button class="h-12 px-5 py-2 transition-all duration-200 border-2 border-solid rounded shadow-md border-rosinha-escuro text-rosinha-escuro hover:scale-105 active:scale-95">
                  Adicionar ao carrinho
                </button>
                <button class="h-12 px-5 py-2 text-white transition-all duration-200 rounded shadow-md bg-custom-gradient hover:scale-105 active:scale-95">
                  Comprar
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="flex w-full p-2 bg-white rounded-lg ">
        <div class="flex w-full">
          <img [src]="trufaCoco" alt="" class="max-w-[170px] hover:scale-110 duration-200">
          <div class="w-1 h-full rounded-lg bg-rosinha"></div>
          <div class="flex flex-col justify-between w-full pl-3">
            <div class="flex flex-col">
              <h4 class="flex items-center h-full p-2 text-xl font-medium">
                Trufa de coco 30g
              </h4>
              <p class="pl-2 text-neutral-500">
                trufa de chocolate ao leite com recheio sabor <br> coco
              </p>
            </div>

            <div class="flex items-center justify-between">
              <h5 class="pl-2 text-xl font-semibold">
                R$ 4,50
              </h5>
              <div class="flex justify-end gap-3">
                <button class="h-12 px-5 py-2 transition-all duration-200 border-2 border-solid rounded shadow-md border-rosinha-escuro text-rosinha-escuro hover:scale-105 active:scale-95">
                  Adicionar ao carrinho
                </button>
                <button class="h-12 px-5 py-2 text-white transition-all duration-200 rounded shadow-md bg-custom-gradient hover:scale-105 active:scale-95">
                  Comprar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex w-full p-2 bg-white rounded-lg ">
        <div class="flex w-full">
          <img [src]="trufaMarula" alt="" class="max-w-[170px] hover:scale-110 duration-200">
          <div class="w-1 h-full rounded-lg bg-rosinha"></div>
          <div class="flex flex-col justify-between w-full pl-3 ">
            <div class="flex flex-col">
              <h4 class="flex items-center h-full p-2 text-xl font-medium">
                Trufa de marula 30g
              </h4>
              <p class="pl-2 text-neutral-500">
                Trufa de chocolate ao leite com recheio sabor <br> marula
              </p>
            </div>

            <div class="flex items-center justify-between">
              <h5 class="pl-2 text-xl font-semibold">
                R$ 4,50
              </h5>
              <div class="flex justify-end gap-3">
                <button class="h-12 px-5 py-2 transition-all duration-200 border-2 border-solid rounded shadow-md border-rosinha-escuro text-rosinha-escuro hover:scale-105 active:scale-95">
                  Adicionar ao carrinho
                </button>
                <button class="h-12 px-5 py-2 text-white transition-all duration-200 rounded shadow-md bg-custom-gradient hover:scale-105 active:scale-95">
                  Comprar
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="flex w-full p-2 bg-white rounded-lg ">
        <div class="flex w-full">
          <img [src]="trufaMaracuja" alt="" class="max-w-[170px] hover:scale-110 duration-200">
          <div class="w-1 h-full rounded-lg bg-rosinha"></div>
          <div class="flex flex-col justify-between w-full pl-3 ">
            <div class="flex flex-col ">
              <h4 class="flex items-center h-full p-2 text-xl font-medium">
                Trufa de maracujá
              </h4>
              <p class="pl-2 text-neutral-500">
                trufa de chocolate ao leite com recheio sabor <br> maracujá
              </p>
            </div>

            <div class="flex items-center justify-between">
              <h5 class="pl-2 text-xl font-semibold">
                R$ 4,50
              </h5>
              <div class="flex justify-end gap-3">
                <button class="h-12 px-5 py-2 transition-all duration-200 border-2 border-solid rounded shadow-md border-rosinha-escuro text-rosinha-escuro hover:scale-105 active:scale-95">
                  Adicionar ao carrinho
                </button>
                <button class="h-12 px-5 py-2 text-white transition-all duration-200 rounded shadow-md bg-custom-gradient hover:scale-105 active:scale-95">
                  Comprar
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="flex w-full p-2 bg-white rounded-lg ">
        <div class="flex w-full">
          <img [src]="trufaLimao" alt="" class="max-w-[170px] hover:scale-110 duration-200">
          <div class="w-1 h-full rounded-lg bg-rosinha"></div>
          <div class="flex flex-col justify-between w-full pl-3">
            <div class="flex flex-col">
              <h4 class="flex items-center h-full p-2 text-xl font-medium">
                Trufa de limão 30g
              </h4>
              <p class="pl-2 text-neutral-500">
                trufa de chocolate ao leite com recheio sabor <br> limão
              </p>
            </div>

            <div class="flex items-center justify-between">
              <h5 class="pl-2 text-xl font-semibold">
                R$ 4,50
              </h5>
              <div class="flex justify-end gap-3">
                <button class="h-12 px-5 py-2 transition-all duration-200 border-2 border-solid rounded shadow-md border-rosinha-escuro text-rosinha-escuro hover:scale-105 active:scale-95">
                  Adicionar ao carrinho
                </button>
                <button class="h-12 px-5 py-2 text-white transition-all duration-200 rounded shadow-md bg-custom-gradient hover:scale-105 active:scale-95">
                  Comprar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

