<div class="w-full">
  <div class="container mx-auto py-[70px] w-full">
    <div class="flex items-center justify-between">
      <h1 class="pt-[1px] pb-[5px] text-4xl relative ml-2 text-black before:border-b-4 before:border-solid before:border-rosinha-escuro before:absolute before:w-[200px] before:top-[45px] before:rounded">
        Brigadeiros
      </h1>
      <a class="flex items-center w-[142px] gap-1 relative before:content-[''] before:absolute before:border-b-[3px] before:border-solid before:border-rosinha-escuro before:w-0 before:top-[30px] before:transition-all before:duration-500 hover:before:w-[142px] hover:before:rounded" routerLink="/brigadeiros">
        <h2 class="text-2xl">
          Ver mais
        </h2>
        <img [src]="verMais" alt="" class="w-8">
      </a>
    </div>
    <div class="grid grid-cols-1 gap-10 px-2 py-4 lg:grid-cols-2">

      <div class="flex w-full p-2 bg-white rounded-lg">
        <div class="flex w-full">
          <img [src]="brigadeiro" alt="" class="max-w-[170px] max-h-[170px] hover:scale-110 duration-200">
          <div class="w-1 h-full rounded-lg bg-rosinha"></div>
          <div class="flex flex-col justify-between w-full pl-3">
              <div class="flex flex-col">
                <h4 class="flex items-center h-full p-2 text-xl font-medium">
                  Clássico
                </h4>
                <p class="pl-2 text-neutral-500">
                  Brigadeiro de chocolate meio-amargo com <br> cacau 54%, o tradicional brigadeiro gourmet
                </p>
              </div>

            <div class="flex items-center justify-between">
              <h5 class="pl-2 text-xl font-semibold">
                R$ 3,00
              </h5>
              <div class="flex justify-end gap-3">
                <button class="h-12 px-5 transition-all duration-200 border-2 border-solid rounded shadow-md text-rosinha-escuro bg-slate-50 border-rosinha-escuro hover:scale-105 active:scale-95">
                  Adicionar ao carrinho
                </button>
                <button class="h-12 px-5 text-white transition-all duration-200 rounded shadow-md bg-custom-gradient hover:scale-105 active:scale-95">
                  Comprar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex w-full p-2 bg-white rounded-lg">
        <div class="flex w-full">
          <img [src]="chocolateAoLeite" alt="" class="max-w-[170px] hover:scale-110 duration-200">
          <div class="w-1 h-full rounded-lg bg-rosinha"></div>
          <div class="flex flex-col justify-between w-full pl-3">
            <div class="flex flex-col">
              <h4 class="items-center h-full p-2 text-xl font-medium fflex">
                Chocolate ao leite
              </h4>
              <p class="pl-2 text-neutral-500">
                Brigadeiro gourmet de puro chocolate ao leite <br> suiço
              </p>
            </div>

            <div class="flex items-center justify-between">
              <h5 class="pl-2 text-xl font-semibold">
                R$ 3,00
              </h5>
              <div class="flex justify-end gap-3">
                <button class="h-12 px-5 py-2 transition-all duration-200 border-2 border-solid rounded shadow-md border-rosinha-escuro text-rosinha-escuro hover:scale-105 active:scale-95">
                  Adicionar ao carrinho
                </button>
                <button class="h-12 px-5 py-2 text-white transition-all duration-200 rounded shadow-md bg-custom-gradient hover:scale-105 active:scale-95">
                  Comprar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex w-full p-2 bg-white rounded-lg">
        <div class="flex w-full">
          <img [src]="casadinho" alt="" class="max-w-[170px] hover:scale-110 duration-200">
          <div class="w-1 h-full rounded-lg bg-rosinha"></div>
          <div class="flex flex-col justify-between w-full pl-3">
            <div class="flex flex-col">
              <h4 class="flex items-center h-full p-2 text-xl font-medium">
                Casadinho
              </h4>
              <p class="pl-2 text-neutral-500">
                Combinação de chocolate amargo e brigadeiro <br> branco
              </p>
            </div>
            <div class="flex items-center justify-between">
              <h5 class="pl-2 text-xl font-semibold">
                R$ 3,00
              </h5>
              <div class="flex justify-end gap-3">
                <button class="h-12 px-5 py-2 transition-all duration-200 border-2 border-solid rounded shadow-md border-rosinha-escuro text-rosinha-escuro hover:scale-105 active:scale-95">
                  Adicionar ao carrinho
                </button>
                <button class="h-12 px-5 py-2 text-white transition-all duration-200 rounded shadow-md bg-custom-gradient hover:scale-105 active:scale-95">
                  Comprar
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="flex w-full p-2 bg-white rounded-lg">
        <div class="flex w-full">
          <img [src]="beijinho" alt="" class="max-w-[170px] hover:scale-110 duration-200">
          <div class="w-1 h-full rounded-lg bg-rosinha"></div>
          <div class="flex flex-col justify-between w-full pl-3">
            <div class="flex flex-col">
              <h4 class="flex items-center h-full p-2 text-xl font-medium">
                beijinho
              </h4>
              <p class="pl-2 text-neutral-500">
                Brigadeiro de coco, o tradicional beijinho <br> gourmet
              </p>
            </div>

            <div class="flex items-center justify-between">
              <h5 class="pl-2 text-xl font-semibold">
                R$ 3,00
              </h5>
              <div class="flex justify-end gap-5">
                <button class="h-12 px-5 py-2 transition-all duration-200 border-2 border-solid rounded shadow-md border-rosinha-escuro text-rosinha-escuro hover:scale-105 active:scale-95">
                  Adicionar ao carrinho
                </button>
                <button class="h-12 px-5 py-2 text-white transition-all duration-200 rounded shadow-md bg-custom-gradient hover:scale-105 active:scale-95">
                  Comprar
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
