<div class="w-full">
  <div class="xl:container mx-auto py-[70px] w-full md:px-3">
    <div class="flex items-center justify-between">
      <h1 class="pt-[1px] pb-[5px] text-4xl relative ml-2 text-black before:border-b-4 before:border-solid before:border-rosinha-escuro before:absolute before:w-[200px] before:top-[45px] before:rounded">
        Brigadeiros
      </h1>
      <a class="flex items-center w-[142px] gap-1 relative before:content-[''] before:absolute before:border-b-[3px] before:border-solid before:border-rosinha-escuro before:w-0 before:top-[30px] before:transition-all before:duration-500 hover:before:w-[140px] hover:before:rounded mr-2" routerLink="/brigadeiros">
        <h2 class="text-2xl">
          Ver mais
        </h2>
        <img [src]="verMais" alt="" class="w-8">
      </a>
    </div>
    <div class="cards">

      <div class="card" *ngFor="let brigadeiro of brigadeiroInicio; let i = index ">
        <div class="flex w-full">
          <img [src]="brigadeiro.image" alt="" class="card-produto-image">
          <div class="card-description">
            <div class="flex flex-col">
              <div class="flex items-center justify-between">
                <h5 class="card-produto-titulo">
                  {{ brigadeiro.title }}
                </h5>
                <h4 class="card-produto-preco">
                  {{ brigadeiro.value }}
                </h4>
              </div>
              <p class="card-produto-description">
                {{ brigadeiro.description }}
              </p>
            </div>

            <div class="flex justify-end gap-2 xl:gap-3">
              <div class="flex items-center">
                <button class="button-decrementa" (click)="decrementaBrigadeiro(i)">
                  -
                </button>
                <div class="value-product">
                  {{ valueProductBrigadeiro[i] }}
                </div>
                <button class="button-incrementa" (click)="incrementaBrigadeiro(i)">
                  +
                </button>
              </div>
              <button class="button-cart" (click)="addCart(i, 'brigadeiro')">
                <span class="button-cart-span material-symbols-outlined">
                  shopping_cart
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="w-full ">
  <div class="xl:container mx-auto py-[70px] w-full md:px-3">
    <div class="flex items-center justify-between">
      <h1 class="pt-[1px] pb-[5px] text-4xl relative ml-2 text-black before:border-b-4 before:border-solid before:border-rosinha-escuro before:absolute before:w-[110px] before:top-[45px]">
        Trufas
      </h1>
      <a class="flex items-center w-[142px] gap-1 relative before:content-[''] before:absolute before:border-b-[3px] before:border-solid before:border-rosinha-escuro before:w-0 before:top-[30px] before:transition-all before:duration-500 hover:before:w-[140px] hover:before:rounded mr-2" routerLink="/trufas">
        <h2 class="text-2xl">
          Ver mais
        </h2>
        <img [src]="verMais" alt="" class="w-8">
      </a>
    </div>
    <div class="cards">

      <div class="card" *ngFor="let trufa of trufasInicio; let i = index">
        <div class="flex w-full">
          <img [src]="trufa.image" alt="" class="card-produto-image">
          <div class="card-description">
            <div class="flex flex-col">
              <div class="flex items-center justify-between">
                <h5 class="card-produto-titulo">
                  {{ trufa.title }}
                </h5>
                <h4 class="card-produto-preco">
                  {{  trufa.value}}
                </h4>
              </div>
              <p class="card-produto-description">
                {{ trufa.description }}
              </p>
            </div>
            <div class="flex justify-end gap-2 xl:gap-3">
              <div class="flex items-center">
                <button class="button-decrementa" (click)="decrementaBrigadeiro(i)">
                  -
                </button>
                <div class="value-product">
                  {{ valueProductBrigadeiro[i] }}
                </div>
                <button class="button-incrementa" (click)="incrementaBrigadeiro(i)">
                  +
                </button>
              </div>
              <button class="button-cart" (click)="addCart(i, 'brigadeiro')">
                <span class="button-cart-span material-symbols-outlined">
                  shopping_cart
                </span>
              </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-full">
  <div class="xl:container mx-auto py-[70px] w-full md:px-3">
    <div class="flex items-center justify-between">
      <h1 class="pt-[1px] pb-[5px] text-4xl relative ml-2 text-black before:border-b-4 before:border-solid before:border-rosinha-escuro before:absolute before:w-[150px] before:top-[45px] before:rounded ">
        Bebidas
      </h1>
      <a class="flex items-center w-[142px] gap-1 relative before:content-[''] before:absolute before:border-b-[3px] before:border-solid before:border-rosinha-escuro before:w-0 before:top-[30px] before:transition-all before:duration-500 hover:before:w-[140px] hover:before:rounded mr-2" routerLink="/bebidas">
        <h2 class="text-2xl">
          Ver mais
        </h2>
        <img [src]="verMais" alt="" class="w-8">
      </a>
    </div>
    <div class="cards">

      <div class="card"  *ngFor="let bebida of bebidasInicio; let i = index">
        <div class="flex w-full">
          <img [src]="bebida.image" alt="" class="card-produto-image">
          <div class="card-description">
              <div class="flex flex-col">
                <div class="flex items-center justify-between">
                  <h5 class="card-produto-titulo">
                    {{ bebida.title }}
                  </h5>
                  <h4 class="card-produto-preco">
                    {{ bebida.value }}
                  </h4>
                </div>
                <p class="card-produto-description">
                  {{ bebida.description }}
                </p>
              </div>
              <div class="flex justify-end gap-2 xl:gap-3">
                <div class="flex items-center">
                  <button class="button-decrementa" (click)="decrementaBebida(i)">
                    -
                  </button>
                  <div class="value-product">
                    {{ valueProductBebida[i] }}
                  </div>
                  <button class="button-incrementa" (click)="incrementaBebida(i)">
                    +
                  </button>
                </div>
              <button class="button-cart" (click)="addCart(i, 'bebida')">
                <span class="material-symbols-outlined button-cart-span">
                  shopping_cart
                  </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
